<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Learning</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>

    <header>
        <h1>Django Learning Journey 🚀</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/about">About</a>
        </nav>
        <hr>
    </header>



    <footer>
        <hr>
        <p>© 2026 • Learning Django step by step</p>
    </footer>

</body>
</html>
