{% extends "home/base.html" %}

{% block start %}

    <h1> this is index page </h1>

    <a href="/contact/">
        Contact
    </a>
    
    |

    <a href="/about/">
        About
    </a>

    <div class="container">
        <h2>People Voting Eligibility</h2>
        <table>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Can Vote</th>
                </tr>
            </thead>
            <tbody>
                {% for people in peoples %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ people.name }}</td>
                    <td>{{ people.age }}</td>
                    <td class="status">
                        {% if people.age >= 18 %}
                            👍
                        {% else %}
                            👎
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No data found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>{{text}}</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima reprehenderit accusantium excepturi commodi amet modi nulla, architecto dolor libero cupiditate. Dignissimos fugiat possimus asperiores nam, assumenda quibusdam! Praesentium, sit assumenda.
    </div>

{% endblock %}